*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Voltaire";
    src: url(../fonts/Aire\ Exterior/#00C5FF);
}
@font-face {
    font-family: "Roboto";
    src: url(../fonts/roboto/Roboto-Light.ttf);
}

ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1140px ;
    margin: 0 auto;
}
.header{
 background: #141C24;
 height: 100vh;
}

.flex--between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-list{
    width: 70%;
}

.navbar--link{
    display: flex;
    align-items: center;
}
.navbar--link img{
    width: 30px ;
    height: 30px;
}
.navbar--link h4{
    margin-left: 9px;
}

.navbar{
    padding: 10px 40px;
}

.navbar--hover{
    display: block;
    height: 1px;
    background: #00C5FF;
    width: 0;
    transition: width 0.5s ease-in-out;
    margin-top: 3px;
}
.navbar-list a:hover ~ .navbar--hover{
    width: 100%;
}
.navbar-list a:hover{
opacity: 1;
}
.navbar-list a{
    font-weight: 300;
    font-size: 16px;
    line-height: 180%;
    color: #FFFFFF;
    font-family: "Roboto";
}


/* hero qismi */

.hero{
    box-shadow: 33px 17px 29px rgba(0, 0, 0, 0.25);
    background: radial-gradient(49.95% 96.01% at 50.05% 49.91%, rgba(82, 125, 139, 0) 0%, rgba(82, 125, 139, 0.25) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/header-background.webp);
    height: 550px;
    background-size: 100% 100%;
    background-position: top 10px right 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.hero p{
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    font-style: normal;
}

.hero h2{
    font-family: "Voltaire";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    color: #FFFFFF;
}

.hero button{
    background: #FFFFFF;
    /* border-top-right-radius: 20px; */
    height: 41px;
    width: 221px;
    margin-top: 30px;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-family: 'Voltaire';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
}
.hero button:after{
    content: "";
    box-sizing: border-box;
    position: absolute;
    width: 40px;
    height: 40px;
   
}

/* main qismi  */
.main{
    background-color: #141C24;
}

.section-list{
    display: flex;

    /* align-items: start !;  */
}

.section-list h2{
    font-family: 'Voltaire';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 39px;
    margin: 10px 0;
    color: #FFFFFF;
}

.section-hr{
    border: 0.5px solid rgba(255, 255, 255, 0.2);
    height: 1px ;
    width: 271px;
    display: block;
    margin: 20px 0;
}
.section-list p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 21.33px;
    line-height: 150%;
    color: #ABABAB;
}

.section-list a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 180%;
    color: #57D6FF;
}

.section-list img{
    width: 100%;
    display: flex;
}
.section-list .section-item{
    width: 49%;
}
.section-content{
    display: flex;
    width: 70px;
    background-color:#57D6FF;
    height: 2px;
}
.section-bg{
    display: flex;
    align-items: center;
}
.section-bg a{
    margin-left: 20px;
}

.section-list b{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #00C5FF;
    margin-top: 20px;
    display: flex;
    cursor: pointer;
}
.section-item-bg{
    display: flex;
    width: 80px;
    margin-top: 2px;
    border: 1px solid #00C5FF;
}

.game-bg{
    display: flex;
    align-items: center;
}
.game{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
    padding-bottom: 0;
}
.game-bg span{
    width: 50px;
    height: 0px;
    display: flex;
    border: 1px solid #57D6FF;
    transform: rotate(180deg);
}
.game-bg a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 180%;
    color: #57D6FF;
    margin-left: 5px;
}
.game h2{
    font-family: "Voltaire";
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 39px;
    color: #FFFFFF;
    margin: 10px 0;
}
.game-list{
    width: 100%;
    padding: 30px 140px;
  margin-top: 40px;
}
.game-list img{
    display: flex;
}
.game-list h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 21.33px;
    line-height: 150%;

    color: #F1F1F1;
}
.game-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.game-item:nth-child(1)::after{
    content: "";
    position: absolute;
    width: 73px;
    height: 0px;
    background: #141C24;
    border: 1px solid #50AFCD;
    transform: rotate(180deg);
    right: -70px;
    top: 30px;
}
.game-item:nth-child(2)::after{
    content: "";
    position: absolute;
    width: 73px;
    height: 0px;
    background: #141C24;
    border: 1px solid #50AFCD;
    transform: rotate(180deg);
    right: -70px;
    top: 30px;
}

.game-item:nth-child(3)::after{
    content: "";
    position: absolute;
    width: 73px;
    height: 0px;
    background: #141C24;
    border: 1px solid #50AFCD;
    transform: rotate(180deg);
    right: -70px;
    top: 30px;
}

.game-link-bg{
    display: flex;
    width: 69px;
    height: 0px;
    border: 1px solid #00C5FF;
    margin-top: 2px;
}
.game-link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #00C5FF;
}

.wrapper{
    padding-top: 120px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wrapper h2{
    font-family: 'Voltaire';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 39px;
    color: #FFFFFF;
}
.wrapper-list{
    margin-top: 90px;
    width: 100%;
}
.wrapper-item{
    padding: 10px 30px;
    height: 470px;
    width: 370px;
    border-radius: 5px;
    background: #1F2631;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.wrapper-item h2{
  margin-top: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}
.wrapper-item b{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 20px 0;
    display: flex;
}
.wrapper-item p{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 21.33px;
        line-height: 150%;
        color: #ABABAB;
        margin: 20px 0;
}
.wrapper-item button{
    background: #00C5FF;
    border-radius: 5px;
    height: 50px;
    display: flex;
    width: 290px;
    text-align: center;
  justify-content: center;
  align-items: center;
    font-family: 'Voltaire';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 180%;
    color: #141C24;
    margin-top: 40px;
    border: none;
}

.wrapper-item:hover p{
    color: #141C24;
}
.wrapper-item:hover h2{
    color: #141C24;
}
.wrapper-item:hover b{
    color: #141C24;
}
.wrapper-item:hover button{
    color: #F1F8FF;
    background-color: #141C24;
}
.wrapper-item:hover{
        background: #00C5FF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
}

.wrapper-item{
    transition: 0.5s;
}